html {
  font-family: Georgia, times new roman, Times, serif;
}

h1 {
  position: relative;
}

#head-soc ul li {
  list-style: none;
  padding: 0 0 0 12px;
  float: right;
}
#head-soc ul li a {
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  height: 32px;
  width: 32px;
  border: 0;
  /* background-color: aqua; */
  background: url(../HTML/images/social-media-gif.gif) no-repeat;
  display: block;
}

#head-soc li#g a {
  background-position: 0px 0px;
}
#head-soc li#g a:hover {
  background-position: 0px -32px;
}

#head-soc li#rss a {
  background-position: -32px 0px;
}
#head-soc li#rss a:hover {
  background-position: -32px -32px;
}

#head-soc li#sub a {
  background-position: -64px 0px;
}
#head-soc li#sub a:hover {
  background-position: -64px -32px;
}

#head-soc li#fb a {
  background-position: -96px 0px;
}
#head-soc li#fb a:hover {
  background-position: -96px -32px;
}

#head-soc li#twit a {
  background-position: -128px 0px;
}
#head-soc li#twit a:hover {
  background-position: -128px -32px;
}

#head-soc li#li a {
  background-position: -160px 0px;
}
#head-soc li#li a:hover {
  background-position: -160px -32px;
}

#head-soc li#youtube a {
  background-position: -192px 0px;
}
#head-soc li#youtube a:hover {
  background-position: -192px -32px;
}
